/* 
Here we will write global styles.
import it in your own css by inserting the following code:

-----------------------------------------------------------
>>>>>>>>>> @import url(../global-styles.css); <<<<<<<<<<<<<
-----------------------------------------------------------

We will use it for things like fonts, maybe animations.
*/

@import url(./keyframes.css); /* importing animation keyframes */

/* importing fonts */
@font-face {
  font-family: "Circular Spotify Tx T Black";
  src: url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot");
  src: url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.svg#Circular Spotify Tx T Black")
      format("svg");
}
/* giving this font to all the text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Circular Spotify Tx T Black" !important;
}
/* 
Here's an example animation
apply the class='slideInLeft' to the element and it will slide :)
*/
.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
